.contato {
    background-color: var(--branco);
    padding: 1em;
}

.contato__titulo,
.contato__texto {
    color: var(--rosa-degrade);

    background: var(--rosa-degrade);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.contato__titulo {
    font-size: 1.12em;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.contato__email {
    padding: 1em;
    border: 1 px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url(../img/Email.svg)no-repeat;
    padding-left: 2em;
}

.whatsapp-fixo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radiu s: 50%;
    padding: 10px;
    
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__titulo {
        font-size: 1.5rem;
    }

    .contato__email {
        width: 30%;
    }

    .contao__descrição {
        margin: 1em;
        width: 30%;
    }


}

@media screen and (min-width: 1728px) {
    .contato{
        padding: 3em 20vw;
    }
}