/* Linha separadora */
hr {
    margin: 0;
}

/* Estilo base do rodapé */
.rodape {
    background-color: var(--branco);
    padding: 1em;
}

/* Oculta a lista no mobile */
.lista-rodape {
    display: none;
}

/* Hover dos links */
.lista-rodape__link:hover {
    color: var(--laranja);
}

/* Estilos a partir de 1024px (desktop/tablet grande) */
@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 3.4rem 0;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        font-size: 0.87rem;
        color: var(--cinza-claro);
        padding-bottom: 1.56em;
        align-items: first baseline;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.6em;
    }

    .rodape__titulo {
        font-size: 1.5rem;
    }
}

/* Estilo para telas muito grandes (monitor) */
@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
}