@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodape.css");
@import url("portfólio.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-de-fundo: #F5F5F5;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --laranja: #B71C1C;
    --azul: #E91E63;
    --rosa-degrade: linear-gradient(97.54deg, #8B1E5A 35.49%, #D462A6 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}